@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: #e5e9f0;
}

* {
  font-family: "Lato", Helvetica, sans-serif;
  color: #333447;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
  margin: 5px;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 1%;
  min-height: 0.125rem;
}

.col-1 {
  width: 7.33%;
}

.col-2 {
  width: 10.66%;
}

.col-3 {
  width: 19%;
}

.col-4 {
  width: 29.33%;
}

.col-5 {
  width: 37.66%;
}

.col-6 {
  width: 46%;
}

.col-7 {
  width: 54.33%;
}

.col-8 {
  width: 62.66%;
}

.col-9 {
  width: 71%;
}

.col-10 {
  width: 79.33%;
}

.col-11 {
  width: 87.66%;
}

.col-12 {
  width: 96%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

/*  slider */

.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.slides-container {
  height: calc(100vh - 2rem);
  width: 100%;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.bg-blue {
  background-color: #2e3e83 !important;
}

.card {
  border-radius: 25px;
  padding: 15px;
  background-color: #ffffff;
}

.white {
  color: white;
}

.counter {
  font-size: 65px;
}

/*  bar */
.bar {
  fill: #74b9ff;
  transition: all 150ms ease;
}

.bar:hover {
  fill: #636e72;
}

.axis {
  font-size: 12px;
}

.axis--x path {
  visibility: hidden;
}

svg text {
  fill: #2d3436;
}

.background-style {
  background: #ffffff;
}

/* tip */
.tip {
  width: 5rem;
  background-color: #eee;
  text-align: center;
  box-shadow: 0px 2px 10px -2px #aaa;
  border: 2px solid #636e72;
  border-radius: 4px;
  transition: all 160ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/*   dropdown */

.dropdown select {
  background-color: #fdcb6e;
  color: white;
  padding: 8px;
  border: none;
  font-size: 18px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.dropdown::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 26px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.dropdown:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdown select option {
  padding: 8px;
}
.dropdown select option:checked {
  background-color: #74b9ff;
}

/*   slider styles */

.slidecontainer {
  width: 1150px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fdcb6e;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

button {
  height: 60px;
  width: 180px;
  background-color: #fdcb6e;
  border-color: #fdcb6e;
  border-radius: 4px;
  font-weight: 500;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  background-color: #74b9ff;
}

.select-label {
  font-weight: 600;
  font-size: 14px;
}